{% extends 'base/base.html' %}

{% block title %}ABOUT VIEW{% endblock title %}

{% block content %}

    <h1>Hola Soy el About </h1>


{% endblock content %}

{% block left %}
    <form action="">
        <input type="number" name="" id="">
        <button class="btn btn-outline-danger">left</button>
    </form>
{% endblock left %}