{% extends 'base/base.html' %}

{% block title %}INDEX VIEW{% endblock title %}

{% block left %}
    <form action="">
        <input type="number" name="" id="">
        <button class="btn btn-outline-danger">left</button>
    </form>
{% endblock left %}

{% block content %}

    {% if request.user.is_authenticated %}
    <h1>Bienvenido a PLAEST user: {{ request.user }} </h1>

    <table class="table">
        <thead>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th></th>
            <th>Actions</th>
            <th></th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.first_name }}</td>
                    <td><a href="" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <hr>
    <br>
        <form action="" method="post">
            {% csrf_token %}
                {{ form }}
                <hr>
            <button type="submit" class="btn btn-outline-success form-control">LogIn</button>
            <a href="" class="btn btn-outline-warning form-control">Cancel</a>
        </form>
        <a href="{% url 'home:signup' %}">Registrate Aqui</a>
    {% endif %}

               
{% endblock content %}    

    
