{% extends "base/base.html" %}

{% block title %}SIGNUP VIEW{% endblock title %}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
        {{ form }}
        <hr>
        <button type="submit" class="btn btn-outline-success form-control">SignUp</button>
        <a href="{% url 'home:index' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form> 
{% endblock content %}