{% extends "base/base.html" %}


{% block title %}CREATE NEW GRANT GOAL VIEW{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
            {{ form }}
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-success form-control">Create New Grant Goal</button>
                </div>
                <div class="col">
                    <a href="{% url 'core:list_gg' %}" class="btn btn-outline-warning form-control">Cancel</a>
                </div>
            </div>
            
            
    </form>
{% endblock content %}