{% extends "base/base.html" %}


{% block title %}DELETE GRANT GOAL VIEW{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        <h2>¿Realmente deseas eliminar el GrantGoal: " {{ object }} " ?</h2>
            
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-outline-danger form-control">Delete Grant Goal</button>
                </div>
                <div class="col">
                    <a href="{% url 'core:list_gg' %}" class="btn btn-outline-warning form-control">Cancel</a>
                </div>
            </div>
            
            
    </form>
{% endblock content %}