{% extends "base/base.html" %}

{% block title %}LIST GRANT GOAL CLIENT VIEW{% endblock title %}

{% block content %}
    <table class="table">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>TIMESTAMP</th>
            <th>FINAL DATE</th>
            <th>STATUS</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for gg in grantgoals %}
                <tr>
                    <td>{{ gg.id }}</td>
                    <td>{{ gg.gg_name }}</td>
                    <td>{{ gg.timestamp }}</td>
                    <td>{{ gg.final_date }}</td>
                    <td>{{ gg.status }}</td>
                    <td><a href="{% url 'clientapi:c_detail_gg' gg.id %}" class="btn btn-info">detail</a></td>
                    <td><a href="" class="btn btn-warning">update</a></td>
                    <td><a href="" class="btn btn-danger">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}